.bc-plashes {
  margin: 20px 0 20px;
}
.bc-plashes__title {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #000000;
  margin: 0;
}
.bc-plashes__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100% + 30px);
  width: -moz-calc(100% + 30px);
  width: calc(100% + 30px);
  margin: 0 -15px;
  padding: 20px 0;
}
.bc-plashes__container.slider {
  padding: 0;
  margin-right: -40px;
}
.bc-plashes__wrapper .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.bc-plashes__container.slider .slick-track {
  padding: 20px;
}
.bc-plashe {
  padding: 0 15px;
  height: auto;
  width: 200px;
}
.bc-plashe__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 20px 15px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  position: relative;
  top: 0;
  min-height: 170px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #ABACAF;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ABACAF;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ABACAF;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ABACAF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ABACAF;
}
.bc-plashe__container:hover {
  top: -10px;
  background-image: none;
  -webkit-box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
     -moz-box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
          box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
}
.bc-plashe__title {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  color: #FFFFFF;
}
.bc-plashe__img {
  width: 80px;
  height: 50px;
  margin-bottom: 15px;
  overflow: hidden;
}
.bc-plashe__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.bc-plashe__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bc-plashe__footer_span {
  display: block;
  padding-left: 20px;
  margin-right: 15px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}
.bc-plashe__footer_span--views {
  background: url(../images/svg-icons.svg#eye-white) no-repeat center left;
  -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
       background-size: 15px 15px;
}
.bc-plashe__footer_span--comments {
  background: url(../images/svg-icons.svg#comments-white) no-repeat center left;
  -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
       background-size: 15px 15px;
}
.bc-top-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bc-city-choise {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #444444;
}
.bc-city-choise__value {
  display: inline-block;
  color: #528CAA;
  cursor: pointer;
  border-bottom: 1px dashed #528CAA;
}
.bc-city-choise__value:hover {
  border-color: transparent;
}
.popup-block--city {
  padding: 0;
  width: 370px;
}
.popup-city-top {
  padding: 10px 20px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 0px #E6EAED, 0px 5px 5px rgba(136, 145, 157, 0.1);
     -moz-box-shadow: 0px 1px 0px #E6EAED, 0px 5px 5px rgba(136, 145, 157, 0.1);
          box-shadow: 0px 1px 0px #E6EAED, 0px 5px 5px rgba(136, 145, 157, 0.1);
  -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
          border-radius: 4px 4px 0px 0px;
}
.popup-city__content {
  overflow: hidden;
  overflow-y: auto;
  max-height: 310px;
  padding: 15px 20px;
}
.popup-city__content::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}
.popup-city__content::-webkit-scrollbar-track {
  background-color:#fff;
}
.popup-city__content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color:#E6EAED;
}
.popup-city__content::-webkit-scrollbar-thumb:hover{
  background-color:#E6EAED;
}
.popup-city__content::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}
.popup-city__content::-webkit-scrollbar{
  width: 5px;
}
.popup-city__value {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid #E6EAED;
}
.popup-city__value:hover,
.popup-city__value.current {
  padding: 10px 20px;
  margin: 0 -20px;
  -webkit-box-shadow: 0px 0px 0px 1px #E6EAED;
     -moz-box-shadow: 0px 0px 0px 1px #E6EAED;
          box-shadow: 0px 0px 0px 1px #E6EAED;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), #176EAE;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #176EAE;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #176EAE;
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #176EAE;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #176EAE;
}
.popup-city__value.current::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 12px;
  right: 15px;
  background: url(../images/svg-icons.svg#city-check) no-repeat center;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}
.popup-title {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  margin: 0 0 10px;
  color: #000000;
}
.popup-search {
  position: relative;
}
.popup-search__input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 0 50px 0 15px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.popup-search__input:active {
  border-color: #000;
}
.popup-search__submit {
  position: absolute;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background: url(../images/svg-icons.svg#search) no-repeat center;
  -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
       background-size: 20px 20px;
}
.popup-search__submit:hover {
  opacity: 1;
}
.popup-city .popup-close {
  top: 15px;
  right: 15px;
}
.bank-top-btn--yellow {
  background: #FEDD2E;
  color: #000000;
}
.bank-top-btn--yellow:hover {
  background: #fdce1b;
}
.bank-top-btn--white {
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  color: #000;
  font-weight: 400;
  line-height: 48px;
  color: #176EAE;
}
.bank-top-btn--white:hover{
  background: #F5F8FA;
}
.bottom-plash-bc {
  margin: 40px 0;
  padding: 20px;
  background: #F5F8FA;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: #88919D;
}
.bc-sidebar__block {
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 20px 20px 0;
}
.bc-sidebar__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E6EAED;
  padding-bottom: 20px;
}
.bc-sidebar__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.bc-sidebar__img img {
  max-width: 80%;
  max-height: 80%;
}
.bc-sidebar__top_title {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #444444;
}
.bc-sidebar__top_license {
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  color: #88919D;
}
.bc-sidebar__rating {
  padding: 2px 0 0
}
.bc-sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bc-sidebar__list_item {
  position: relative;
}
.bc-sidebar__list_item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bc-sidebar__list_item img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: .1s;
  -o-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
}
.bc-sidebar__list_item a span {
  color: #88919D;
}
.bc-sidebar__list_item a > span {
  display: block;
  padding: 13px 0;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-bottom: 1px solid #E6EAED;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  -webkit-transition: .1s;
  -o-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
}
.bc-sidebar__list_item:last-child a > span {
  border: none;
}
.bc-sidebar__list_item:hover  {
  margin: 0 -20px;
  padding: 0 20px;
  background: #F5F8FA;
}
.bc-sidebar__list_item:hover::before {
  position: absolute;
  height: 1px;
  width: 100%;
  top: -1px;
  left: 0;
  background: #E6EAED;
  content: '';
}
.bc-sidebar__list_item:hover::after {
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #E6EAED;
  content: '';
}
.bc-sidebar__list_item:hover img {
  opacity: 1;
}
.bc-sidebar__list_item a:hover > span {
  color: #000;
}

.bc-article {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0;
}
.bc-article-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.bc-article-btn {
  display: block;
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 15px 34px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  margin-right: 30px;
  margin-bottom: 15px;
}
.bc-article-btn:hover {
  background: #F5F8FA;
}
.bc-article-btn.active {
  background: #E6EFF2;
  border-color: #E6EFF2;
  color: #176EAE;
}
.bc-article-btn.active span {
  color: #176EAE;
}
.bc-article-btn span {
  color: #88919D;
}
.bc-article p {
  font-size: 17px;
}
.bc-bank-block {
  margin-top: 60px;
  width: 100%;
}
.bc-bank-block h2:nth-child(n) {
  margin: 0 0 30px;
}
.bc-bank-table {
  margin-bottom: 30px;
}
.bc-bank-table__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 10px 15px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #88919D;
  
}
.bc-bank-table__line:nth-child(2n+1) {
  background: #F5F8FA;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.bc-bank-table__line_title {
  display: block;
  width: 300px;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.bc-bank-block .bank-soc {
  display: block;
}
.bc-bank-block .bank-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bc-bank-table__line_content {
  color: #444444;
}
.bc-bank-table__line_content a {
  color: #528CAA;
}
.bc-bank-table__line_content a:hover {
  color: #0a2c4b;
}
.offer-info {
  font-size: 13px;
  line-height: 15px;
  color: #88919D;
}
.offer_info_otz {
  margin-left: 10px;
  font-size: 13px;
  line-height: 15px;
  color: #528CAA;
  border-bottom: 1px dashed #a9c6d5;
}
.offer_info_otz:hover {
  color: #0a2c4b;
  border-color: #0a2c4b;
}
.bc-line .new-card__rating_num {
  font-size: 13px;
}
.bc-lines {
  margin-bottom: 30px;
}
.bc-line {
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  border-bottom-color: transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.bc-line:hover {
  box-shadow: 0 12px 19px rgba(45, 48, 72, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  position: relative;
  border: 1px solid #E6EAED;
}
.bc-line:first-child {
  -webkit-border-top-left-radius: 4px;
     -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
     -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
}
.bc-line:last-child {
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
  border: 1px solid #E6EAED;
}
.bc-line__left {
  width: 58%;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 160%;
  color: #444444;
  font-weight: normal;
}
.bc-line__right {
  width: 42%;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #444444;
}
.bc-line__img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden;
}
.bc-line__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bc-line__link {
  display: block;
  margin: 3px 0 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 140%;
  color: #528CAA; 
}
.bc-line__link:hover {
  color: #0a2c4b;
}
.bc-line__address {
  display: block;
}
.bc-line__phones {
  font-weight: bold;
}
.bc-line__right_block {
  margin-bottom: 20px;
}
.bc-line__right_block span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: #88919D;
}

.bc-f-drop .f-drop__title strong {
  text-transform: none;
}
.bc-comments-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bc-comments-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bc-f-drop {
  margin-right: 30px;
  width: -webkit-calc(33.333% - 20px);
  width: -moz-calc(33.333% - 20px);
  width: calc(33.333% - 20px);
}
.bc-comments-btn {
  height: 50px;
  width: -webkit-calc(33.333% - 20px);
  width: -moz-calc(33.333% - 20px);
  width: calc(33.333% - 20px);
}
.bc-comment {
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 20px;
  margin-bottom: 30px;
}
.bc-comment .comment__reply {
  margin: 0;
  cursor: pointer;
}
.bc-comment .review__text {
  font-size: 15px;
  margin-bottom: 10px;
}
.bc-sub-comment {
  background: #F5F8FA;
  border-color: #F5F8FA;
  margin-left: 20px;
}
.bc-active-comment {
  background: #F5F8FA;
  border-color: #F5F8FA;
}
.f-ready__item50 {
  width: 50%;
}
.f-ready__item50 .f-ready__item_content {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}
.bc-bottom-socials {
  margin: 20px 0 40px;
}
.bc-article-search {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.bc-comments-form {
  margin-top: 40px;
}
.bc-comments-form-flex {
  padding: 30px;
  background: #F5F8FA;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bc-comments__form_label,
.bc-comments__form_submit {
  width: -webkit-calc(33.333% - 20px);
  width: -moz-calc(33.333% - 20px);
  width: calc(33.333% - 20px);
}
.bc-comments__form_label-textarea {
  width: 100%;
}
.bc-comments-form-ps {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: #88919D;
}
.bc-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px 0 20px;
  cursor: pointer;
}
.bc-check input {
  display: none;
}
.bc-check-custom {
  width: 20px;
  height: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: block;
  margin-right: 10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #FEDD2E;
  background: #fff;
  position: relative;
}
.bc-check input:checked ~ .bc-check-custom {
  background: #FEDD2E;
}
.bc-check input:checked ~ .bc-check-custom::after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url(../images/svg-icons.svg#check-comments) no-repeat center;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}
.bc-check-text {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: #444444;
}
.bc-check-text a {
  color: #528CAA;
}
.bc-check-text a:hover {
  color: #0a2c4b;
}
.bc-article__rating {
  display: block;
  width: 170px;
  margin-top: 22px;
}
.bc-article__rating .article__rating_text {
  display: none;
}
.bc-line__address2 {
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 140%;
  color: #444444;
}
.bc-line__phones {
  font-weight: normal;
}
.bc-line2 {
  padding: 40px;
}
.bc-sidebar__title {
  display: none;
}
.f-best, .f-about {
  z-index: 2;
}



@media screen and (max-width: 1100px) {
  .bc-sidebar {
    margin: 60px 0 0;
  }
  .bc-sidebar__title {
    display: block;
    font-weight: bold;
    font-size: 29px;
    line-height: 41px;
    margin: 0 0 30px;
    color: #000000;
  }
  .f-cards {
    padding-bottom: 50px;
  }
  .f-ready__item50 .f-ready__item_content {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}


@media screen and (max-width: 750px) {
  .bc-city-choise {
    margin-bottom: 15px;
  }
  .bank-top-btn--white {
    line-height: 38px;
  }
  .bc-plashes__title {
    font-size: 15px;
    line-height: 140%;
  }
  .bc-plashe {
    width: 120px;
    padding: 0 5px;
  }
  .bc-plashes__container {
    margin: 0 -5px;
  }
  .bc-plashes__wrapper .slick-track {
    padding: 10px;
  }
  .bc-plashe__container {
    padding: 0 15px 10px;
    min-height: 0;
  }
  .bc-plashe__img {
    margin-bottom: 8px;
  }
  .bc-plashe__title {
    max-height: 55px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 140%;
  }
  .bc-plashe__footer_span {
    padding-left: 13px;
    font-size: 9px;
    line-height: 20px;
    -moz-background-size: 10px 10px;
      -o-background-size: 10px 10px;
         background-size: 10px 10px;
  }
  .bc-article-btn {
    width: 100%;
    max-width: -webkit-calc(50% - 8px);
    max-width: -moz-calc(50% - 8px);
    max-width: calc(50% - 8px);
    height: 40px;
    font-size: 13px;
    padding: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bc-article {
    width: 100%;
  }
  .bc-article-btns {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bc-article p {
    font-size: 15px;
    line-height: 160%;
  }
  .bc-bank-block {
    margin-top: 30px;
  }
  .bc-bank-block h2:nth-child(n) {
    margin-bottom: 15px;
  }
  .bc-bank-table__line {
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
  }
  .bc-bank-table__line_title {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    padding: 0;
  }
  .bc-bank-block .bank-socials {
    margin-top: 10px;
  }
  .bc-bank-table {
    margin-bottom: 20px;
  }
  .bc-line {
    display: block;
  }
  .bc-line__left {
    width: 100%;
    padding: 0 0 10px;
    display: block;
  }
  .bc-sidebar__rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bc-line__img {
    width: 20px;
    height: 20px;
    margin: 0 0 10px 0;
  }
  .bc-line__link {
    font-size: 15px;
    line-height: 140%;
  }
  .bc-line__right {
    width: 100%;
  }
  .bc-bank-block .map__block {
    height: 390px;
    margin: 0;
  }
  .bc-f-drop {
    width: 100%;
    margin: 20px 0;
  }
  .bc-comments-btn {
    width: 100%;
  }
  .bc-comments-top {
    padding-bottom: 25px;
  }
  .bc-comment {
    margin-bottom: 20px;
  }
  .bc-comment .review__text {
    font-size: 13px;
  }
  .bc-sidebar {
    margin-top: 30px;
  }
  .bc-sidebar__title {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .bc-sidebar__block {
    margin: 0;
  }
  .f-ready__item50 {
    width: 100%;
  }
  .bc-bottom-socials {
    margin: 20px 0 0;
  }
  .bc-bottom-socials .article__footer_top,
  .bc-bottom-socials .article__socials {
    margin: 0;
  }
  .bottom-plash-bc {
    margin: 30px 0;
  }
  .bc-bank-block .bank-soc {
    margin-right: 10px;
  }
  .popup-city .popup-content {
    width: auto;
  }
  .popup-block--city {
    width: 320px;
  }
  .popup-city-top {
    padding: 10px 15px 15px;
  }
  .popup-city__content {
    padding: 15px;
  }
  .popup-city__value {
    font-size: 15px;
    line-height: 20px;
  }
  .popup-city .popup-block--container {
    padding-bottom: 15px;
  }
  .bc-article-search .popup-search__input {
    height: 40px;
    font-size: 13px;
  }
  .bc-article-search .popup-search__submit {
    height: 40px;
  }
  .bc-line2 {
    padding: 30px;
  }
  .bc-sub-comment {
    margin-left: 0;
  }
  .bc-comments-form-flex {
    padding: 20px;
  }
  .bc-comments__form_label, .bc-comments__form_submit {
    width: 100%;
  }
  .bc-article__rating {
    margin-bottom: 20px;
  }
}









