.limit {
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 60px 100px;
}
.limit:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
          box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
}
.limit-container {
  overflow: hidden;
}
.limit-header {
  padding-bottom: 30px;
}
.limit-footer {
  padding-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.limit-btn {
  width: 47.37%;
  -webkit-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
}
.limit-footer--first .limit-prev {
  display: none;
}
.limit-footer--first {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.limit-footer--first .limit-next {
  width: 100%;
}
.limit-quest {
  font-weight: 700;
  display: block;
  font-size: 23px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 20px;
}
.limit-progress__text {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  color: #88919D;
  margin-bottom: 10px;
}
.limit-progress__line {
  position: relative;
  width: 100%;
  height: 10px;
  background: #E6EAED;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.limit-progress__line i {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background: #FEDD2E;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 10%;
}
.limitem-quest {
  display: none;
}
#limitem1 {
  display: block;
}

.limitem {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.limit-content {
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#limitem1 {
  left: 0;
}

.load {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 40px auto 30px;
}
.load-time {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 23px;
  line-height: 27px;
  color: #444444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.load-block {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotateLoad 1s 0s linear infinite;
          animation: rotateLoad 1s 0s linear infinite;
}
.load-gradient {
  width: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 170px;
  background: #000;
}
.load-gradient1 {
  -webkit-border-radius:100% 0 0 100% / 50% 0 0 50%;
          border-radius:100% 0 0 100% / 50% 0 0 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#528CAA), to(rgba(82, 140, 170, .5)));
  background: -webkit-linear-gradient(top, #528CAA, rgba(82, 140, 170, .5));
  background: -o-linear-gradient(top, #528CAA, rgba(82, 140, 170, .5));
  background: linear-gradient(to bottom, #528CAA, rgba(82, 140, 170, .5));
}
.load-gradient2 {
  -webkit-border-radius: 0 100% 100% 0 / 0 50% 50% 0;
          border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 140, 170, 0)), to(rgba(82, 140, 170, .5)));
  background: -webkit-linear-gradient(top, rgba(82, 140, 170, 0), rgba(82, 140, 170, .5));
  background: -o-linear-gradient(top, rgba(82, 140, 170, 0), rgba(82, 140, 170, .5));
  background: linear-gradient(to bottom, rgba(82, 140, 170, 0), rgba(82, 140, 170, .5));
}
@-webkit-keyframes rotateLoad {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateLoad {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.load-block::after {
  position: absolute;
  z-index: 2;
  content: '';
  top: 5px;
  left: 5px;
  width: 160px;
  height: 160px;
  background: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}
.load-begunok {
  position: absolute;
  z-index: 3;
  left: 72.5px;
  left: -webkit-calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  top: -10px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(82, 140, 170, .2);
          box-shadow: 0px 0px 0px 10px rgba(82, 140, 170, .2);;
}
.limitem-result {
  display: none;
}
.limitem-title {
  text-align: center;
  font-size: 23px;
  line-height: 1.4;
  display: block;
  color: #000000;
}
.limitem-text {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  color: #88919D;
  text-align: center;
}
.limitem-sum {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 60px;
  line-height: 1.17;
  color: #528CAA;
  font-weight: 400;
}
.limitem-result-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.limit-labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.limit-label {
  display: block;
  width: 47.37%;
  margin-bottom: 30px;
}
.limit-label input {
  display: none;
}
.limit-radio-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #E6EAED;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 15px;
  line-height: 1.2;
  color: #444444;
  cursor: pointer;
}
.limit-label:nth-last-child(1),
.limit-label:nth-last-child(2) {
  margin-bottom: 0;
}
.limit-label input:checked ~ .limit-radio-custom {
  background: #F5F8FA;
  color: #528CAA;
}
.limit-label:hover .limit-radio-custom {
  border-color: #C4CAD0;
}
.limit-label input:checked ~ .limit-radio-custom {
  border-color: #E6EAED;
}
.limitem-dop-block {
  padding-top: 40px;
}
.limitem-dop-caption {
  font-size: 19px;
  display: block;
  line-height: 1.4;
  color: #000000;
  font-weight: 700;
  margin-bottom: 20px;
}
.hidden_info {
  display: none;
}
.limitem-dop-block--hide {
  display: none;
}




.bank-rating-stars {
  width: 140px;
  height: 20px;
}
.bank-rating {
  padding: 0;
  font-size: 15px;
  color: #88919D;
}
.bank-top-date {
  font-size: 15px;
  line-height: 1.2;
  color: #88919D;
  padding-left: 20px;
}
.bank-top__link {
  display: block;
  font-size: 15px;
  line-height: 15px;
  color: #88919D;
  padding-left: 25px;
  margin-right: 40px;
  position: relative;
}
.bank-top__link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: '';
}
.bank-top__link--phone::before {
  background-image: url(../images/svg-icons.svg#bank-phone);
}
.bank-top__link--www::before {
  background-image: url(../images/svg-icons.svg#bank-link);
}
.bank-top__link--license::before {
  background-image: url(../images/svg-icons.svg#bank-license);
}
.bank-top {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bank-top__content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.bank-top__btns {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bank-top-btn {
  width: 170px;
  margin-left: 20px;
  line-height: 50px;
}
.bank-img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#FDDE42), to(#FDDE42));
  background: -webkit-linear-gradient(bottom, #FDDE42, #FDDE42);
  background: -o-linear-gradient(bottom, #FDDE42, #FDDE42);
  background: linear-gradient(0deg, #FDDE42, #FDDE42);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bank-top__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bank-top__line--mb {
  margin-bottom: 25px;
}

.bank-slider-item {
  position: relative;
  background: -webkit-linear-gradient(161.3deg, #4D5869 0%, #707C91 100%);
  background: -o-linear-gradient(161.3deg, #4D5869 0%, #707C91 100%);
  background: linear-gradient(288.7deg, #4D5869 0%, #707C91 100%);
}
.bank-slider-item__content {
  height: 396px;
  width: 100%;
  max-width: 560px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 60px;
}
.bank-slider-item__title {
  display: block;
  font-size: 35px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}
.bank-slider-item__text {
  margin: 0 0 60px;
  font-size: 15px;
  line-height: 1.4;
  color: #E6EAED;
}
.bank-slider-item__btn {
  max-width: 310px;
}
.bank-slider-item .bank-slider-item__water-img {
  position: absolute;
  opacity: 0.1;
  width: 380px;
  height: auto;
  top: 35px;
  right: 13.7%;
}
.bank-slider-item  .bank-slider-item__man {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
}
.bank-section {
  padding-top: 60px;
}
.bank-section .new-carousel__item_container {
  margin-bottom: 0;
}

.bank__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-top: 1px solid #E6EAED;
}
.bank__table td {
  padding: 16px 0 17px;
  vertical-align: middle;
  border-bottom: 1px solid #E6EAED;
  font-size: 15px;
  line-height: 20px;
}
.bank__table tr:last-child td {
  /* border: none; */
}
.bank__table td:first-child {
  width: 51.95%;
  color: #88919D;
}
.bank__table td:last-child {
  width: 48.05%;
  color: #444444;
}
.bank__table td a {
  color: #528CAA;
}
.bank-soc {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #E6EAED;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
}
.bank-soc--vk {
  background-image: url(../images/svg-icons.svg#bank-vk);
  -webkit-background-size: 20px 12px;
          background-size: 20px 12px
}
.bank-soc--ok {
  background-image: url(../images/svg-icons.svg#bank-ok);
  -webkit-background-size: 10px 18px;
          background-size: 10px 18px
}
.bank-soc--fb {
  background-image: url(../images/svg-icons.svg#bank-fb);
  -webkit-background-size: 8px 18px;
          background-size: 8px 18px
}
.bank-soc--tw {
  background-image: url(../images/svg-icons.svg#bank-tw);
  -webkit-background-size: 17px 17px;
          background-size: 17px 17px
}
.bank-soc--ig {
  background-image: url(../images/svg-icons.svg#bank-ig);
  -webkit-background-size: 16px 16px;
          background-size: 16px 16px
}
.bank-soc--yt {
  background-image: url(../images/svg-icons.svg#bank-yt);
  -webkit-background-size: 18px 18px;
          background-size: 18px 18px
}
.bank-table__btns {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bank-table__btn {
  width: 48.05%;
}
.bank__all-show {
  display: block;
  width: 100%;
}
.bank-news-block h2 {
  margin-bottom: 30px;
}
.chavo__item--open {
  margin: 0;
  padding: 0;
}
.bottom h3 {
  font-size: 29px;
  line-height: 1.4;
  margin: 0 0 30px;
}
.bank-offer__title {
  display: block;
  font-size: 15px;
  line-height: 1.4;
  color: #444444;
  font-weight: bold;
  margin-bottom: 20px;
}
.bank-offer__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.bank-offer__img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.bank-offer__flex_link {
  padding-right: 0;
  line-height: 27px;
}
.bank-offer__flex_link::before {
  top: 5px;
}
.bank-offer__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.bank-offer__btn {
  height: 50px;
  line-height: 50px;
}
.bank__offer {
  padding: 30px;
  margin: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #E6EAED;
}
.bank__offer:hover {
  -webkit-box-shadow: 0 12px 19px rgba(45, 48, 72, 0.2);
          box-shadow: 0 12px 19px rgba(45, 48, 72, 0.2);
}
.bank-section .new-carousel__item {
  margin-bottom: 30px;
}
.bank-aside-list {
  margin-top: 30px;
  padding: 30px;
}
.bank-aside-list__item {
  position: relative;
}
.bank-aside-list__item:hover {
  margin: 0 -30px;
  padding-left: 30px;
}
.bank-aside-list__item::after {
  position: absolute;
  top: 15px;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: url(../images/banki-logo.png) no-repeat;
}
.bank-aside-list__item:hover::after {
  left: 30px;
}
.bank-aside-list__item--sber::after {
  background-position: -10px -50px;
}
.bank-aside-list__item--alfa::after {
  background-position: -10px -10px;
}
.bank-aside-list__item--vtb::after {
  background-position: -90px -10px;
}
.bank-aside-list__item--ren::after {
  background-position: -50px -10px;
}
.bank-aside-list__item--tinkoff::after {
  background-position: -50px -50px;
}
.bank-aside-list__btn {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  line-height: 50px;
}
.bank-comments__top {
  padding-bottom: 30px;
}
.bank-comments__top .comments__top-input {
  margin: 0;
}
.bank-comments__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bank-comments__rating_num {
  display: block;
  font-size: 60px;
  line-height: 1;
  color: #000000;
  margin-right: 20px;
}
.bank-comments__rating {
  display: block;
  margin-right: 30px;
}
.bank-comments__rating .bank-rating-stars {
  width: 175px;
  height: 25px;
}
.bank-comments__rating .new-card__rating_num {
  display: none;
}
.bank-comments__rating_count {
  display: block;
  padding-top: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: #88919D;
}
.bank-comments {
  padding-bottom: 80px;
}
.bank-top-date--mobile {
  display: none;
}
.bank-top__text {
  padding-top: 15px;
}
.bank-cards-labels {
  padding-top: 15px;
}
.bank-card-label {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.2;
  color: #528CAA;
  background: #F5F8FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.bank-card-label:hover {
  background: #E6EFF2;
}

.bank-after {
  padding-top: 30px;
}

































@media screen and (max-width: 1100px) {
  .bank-top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bank-lead-menu {
    margin-right: -45px;
  }
  .bank-top__btns {
    width: 100%;
    padding-top: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bank-top-btn {
    margin: 0;
    width: 48%;
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px);
  }
  .bank-slider .slick-arrow {
    display: none !important;
  }
  .bank-slider-item__content {
    height: 345px;
  }
  .bank-slider-item__title {
    font-size: 32px;
  }
  .bank-slider-item__text {
    font-size: 13px;
    margin-bottom: 45px;
  }
  .bank-sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bank__offer,
  .bank-aside-list {
    width: 48%;
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px);
    margin: 0;
  }
  .bank__offer .offer__content_flex {
    display: block;
  }
  .bank__offer .article__rating, 
  .bank__offer .article__socials {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bank__offer .article__socials_item {
    margin: 0 5px;
  }
  .bank__offer .article__rating_stars {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 25px;
  }
  .bank__offer .article__rating_text {
    text-align: center;
    padding-top: 10px;
  }
}

@media screen and (max-width: 980px) {
  .bank-slider-item__content {
    height: 260px;
    max-width: 400px;
    padding-left: 40px;
  }
  .bank-slider-item .bank-slider-item__man {
    height: 100%;
  }
  .bank-slider-item .bank-slider-item__water-img {
    height: 80%;
    width: auto;
  }
  .bank-slider-item__title {
    font-size: 24px;
  }
  .bank-slider-item__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .bank-slider-item__btn {
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  .bank-top__link {
    font-size: 13px;
  }
  .bank-offer__flex_link {
    margin-right: 0;
  }
  .bank__offer .article__socials {
    margin-bottom: 0;
  }
  .bank-lead-menu {
    margin-right: -40px;
  }
}

@media screen and (max-width: 750px) {
  .limit {
    padding: 20px;
  }
  .limit-quest {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .limit-progress__line {
    height: 5px;
  }
  .limit-header {
    padding-bottom: 20px;
  }
  .limit-footer {
    padding-top: 20px;
  }
  .limit-radio-custom {
    height: 50px;
  }
  .limit-label {
    margin-bottom: 10px;
  }
  .limitem-dop-caption {
    font-size: 15px;
  }
  .limitem-dop-block {
    padding-top: 30px;
  }
  .limitem-title {
    font-size: 17px;
  }
  .limitem-sum {
    margin: 10px 0;
    font-size: 40px;
  }
  .bank-lead-menu {
    margin-right: 0;
  }
  .bank-slider-item__btn {
    display: none;
  }
  .bank-slider-item__title {
    font-size: 17px;
    line-height: 1.4;
  }
  .bank-slider-item__content {
    padding-left: 20px;
    max-width: 100%;
    padding-right: 160px;
    height: 210px;
  }
  .bank-slider-item__text span {
    display: none;
  }
  .bank-slider-item .bank-slider-item__man {
    right: -105px;
  }
  .bank-top {
    padding: 10px 0;
    position: relative;
  }
  .bank-top .bank-img {
    position: absolute;
    left: 0;
    top: 45px;
  }
  .bank-top__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bank-top__line--mb {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    padding-top: 15px;
    padding-left: 95px;
    margin-bottom: 20px;
  }
  .bank-top__btns {
    padding-top: 0;
  }
  .bank-rating-stars {
    width: 69px;
    height: 11px;
  }
  .bank-top-btn {
    font-size: 13px;
  }
  .bank-top__link {
    /* padding: 6px 0 6px 25px; */
    line-height: 27px;
  }
  .bank-top__link::before {
    top: 6px;
  }
  .bank-top__line {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bank-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 1.2;
  }
  .bank-rating .new-card__rating_num {
    font-size: 13px;
  }
  .bank-top-date {
    font-size: 13px;
  }
  .bank-section {
    padding-top: 35px;
  }
  .bank__offer, .bank-aside-list {
    width: 100%;
    margin: 0 auto 30px;
    max-width: 380px;
  }
  .bank-sidebar {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bank-comments__top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bank-comments__rating_num {
    font-size: 45px;
    margin-right: 10px;
  }
  .bank-comments__rating .bank-rating-stars {
    width: 95px;
    height: 15px;
  }
  .bank-comments__rating {
    display: block;
  }
  .bank-comments__rating_count {
    padding-top: 0;
  }
  .bank-comments__top .comments__top-input {
    margin-top: 25px;
    height: 50px;
    line-height: 50px;
  }
  .bank-comments {
    padding-bottom: 35px;
  }
  .bank-card-label {
    padding: 7px 10px;
    font-size: 13px;
    line-height: 15px;
  }
  .bank-cards-labels {
    padding-top: 5px;
  }
  .bank-article-rating .article__rating_stars {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .article__rating_text {
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }
  .navigation__link {
    margin: 0 5px;
  }
  .navigation__list {
    margin: 0 -5px;
  }
}


@media screen and (max-width: 580px) {
  .limit-label,
  .limit-btn {
    width: 100%;
  }
  .limit-label:nth-last-child(2) {
    margin-bottom: 10px;
  }
  .limit-prev {
    margin-top: 10px;
  }
  .limit-footer,
  .limitem-result-btns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .limit {
    margin: 0 -20px;
  }
  .bank-slider-item .bank-slider-item__man {
    display: block;
  }
  .bank-slider-item .bank-slider-item__water-img {
    display: block;
  }
  .bank-slider-item__content {
    padding-right: 90px;
  }
  .bank__table tr {
    display: block;
  }
  .bank__table td {
    display: block;
    width: 100% !important;
    border: none;
    padding: 15px 0 5px;
  }
  .bottom h3 {
    font-size: 19px;
    margin-bottom: 15px;
  }
  .bank__table td:last-child {
    padding-top: 0;
    border-bottom: 1px solid #E6EAED;
    padding-bottom: 15px;
  }
  .bank__table {
    border-top: 1px solid #E6EAED;
  }
  .bank__table td:first-child {
    font-size: 13px;
  }
  .bank__offer, .bank-aside-list {
    padding: 20px;
  }
  .bank-offer__btn,
  .bank-aside-list__btn,
  .bank__all-show,
  .bank-table__btn {
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    overflow: hidden;
  }
  .bank__offer .article__rating_stars {
    padding-top: 20px;
  }
  .bank-news-block .journal__list {
    padding: 0;
  }
  .bank-news-block .journal__item {
    margin: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-bottom: none;
  }
  .bank-news-block .journal__item:hover {
    position: relative;
  }
  .bank-news-block .journal__item_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bank-news-block .journal__item_img {
    width: 95px;
    margin-right: 15px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    height: 60px;
  }
  .bank-news-block .journal__item_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bank__all-show {
    margin-top: 20px;
  }
  .bank-top-date--comp {
    display: none;
  }
  .bank-top-date--mobile {
    display: inline-block;
  }
}



