.n-offer
  padding-top: 10px
  &-article
    width: 100%
  &-bank
    display: inline-flex
    align-items: center
    margin-bottom: 20px
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    img
      display: block
      width: 30px
      height: 30px
      object-fit: cover
      margin-right: 10px
    

















